body {
  background-image: url("../assets/img/edit_fondo.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  border-radius: 20px;
  background-color: rgba(79, 79, 79, 0.813);
  padding: 20px;
}

.editHouseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

label {
  color: white;
  display: block;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #008cba;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #006080;
}

/* Define columns */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.col {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  .col {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

h1 {
  color: white;
  text-align: center;
}
