body {
  background-image: url("../assets/img/edit_fondo.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(218, 194, 194, 0.8);
  border-radius: 10px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  opacity: 100%;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #008cba;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #006080;
}

/* Define columns */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.col {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  .col {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}
