/* LOGIN CSS */
form{
    padding: 50px;
    background-color: #B7435A;
    border-radius: 5px;
    margin: 50px;
    font-family: "Calibri Light";
}
#head-form{
    color: ghostwhite;
    font-size: 20px;
}

.labelsColors{
    color: ghostwhite;
    font-size: 17px;
}

#button-login{
    background-color: black;
    color: white;
    border-bottom-style: none;
    border-color: white;
}
#button-login:hover{
    background-color: white;
    color: black;
    border-bottom-style: none;
    border-color: black;
}

/* MAIN PAGE */

#head-image{
    height: 300px;
    background-image: url("../assets/img/image-background-indez.jpg");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}